body {
  font: 400 1.3rem/1.8rem 'PT Sans';
}
pre {
  border-radius: 10px;
  background-color: #FFEFD5;
  padding: 15px;
}
blockquote {
  border-left: 5px solid #eee;
  color: #999;
  margin: 0;
  padding-left: 30px;
}
hr {
  border: 0;
  border-bottom: 3px solid #eee;
  margin: 43px 0 40px 0;
}
table {
  width: 100%;
  table-layout: fixed;
  margin: 40px 0 0 0;
}
table th {
  text-align: left;
}
table td,
table th {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.content h1 {
  background-color: #eee;
  font: 200 2.6rem/3.2rem 'Oswald';
  margin: -30px -30px 30px -30px;
  padding: 18px 20px 22px 20px;
  border-radius: 10px 10px 0 0;
}
.content .standout {
  font-weight: 700;
}
.content .standout:first-letter {
  font: 400 5rem/5rem 'Pacifico';
  display: inline-block;
  vertical-align: middle;
  padding: 8px 30px 10px 20px;
  float: left;
}
.content .highlight {
  margin: 30px -30px;
  padding: 30px;
  background-color: #eee;
}
.content .highlight p {
  margin: 0;
}
.content .highlight h2 {
  margin: 0 0 20px 0;
}
.pure-button {
  border-radius: 20px;
  color: #fff;
  background-color: orange;
  margin-bottom: 7px;
}
@media screen and (max-width: 568px) {
  .pure-button {
    font-size: 1.1rem;
  }
}
