body {
  background-color: #b2afee;
  overflow-x: hidden;
}
nav {
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #000;
  z-index: 4;
}
nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav li a {
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  display: inline-block;
  padding: 15px 10px;
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
}
nav li a:hover {
  animation: jello 1s;
  color: orange;
}
nav li {
  animation: bounceIn 1s;
}
.logo {
  width: 260px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -130px;
  text-align: center;
  z-index: 3;
  transform: translateY(120px) scale(1);
  transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .3));
}
.logo.compact {
  transform: translateY(130px) scale(.5);
}
.content {
  background-image: url(../../../images/background-top.svg), url(../../../images/background.svg);
  background-repeat: no-repeat, repeat-y;
  background-position: center 60px, center 60px;
  background-size: contain, contain;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  padding: 300px 20px 100px 20px;
}
article {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  padding: 30px;
  margin: 0 auto;
  max-width: 800px;
}
footer {
  margin-top: 30px;
  text-align: center;
  color: #fff;
  font: 200 1rem/1rem 'Oswald';
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 800px) {
  .logo.compact {
    transform: translateY(150px) scale(.7);
  }
  .logo {
    transform: translateY(150px) scale(1);
    width: 200px;
    margin-left: -100px;
  }
}

@media screen and (max-width: 600px) {
  .logo.compact {
    transform: translateY(180px) scale(.7);
  }
  .logo {
    transform: translateY(180px) scale(1);
    width: 160px;
    margin-left: -80px;
  }
}
